// asked
.asked{
    margin-top: 150px;  
    
    margin-bottom: 200px;
}
.asked-name{
    color: $name-color;
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}
.asked-text{
    width: 635px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.askeg__icon{
   margin-left: auto;
}
.askeg__icons{
    color: gray;
}

