// bluid
.bluid-name{
    width: 321px;
    font-style: 36px;
    color: $name-color;
    margin-top: 100px;
}
.bluid-text{
    width: 396px;
    color: gray;
}
 
.build__bg-img{
    background-image: url(../img/ultimate.png);
    background-repeat: no-repeat;
    background-size: 620px;
    background-position: right;
    
    
}